body{
    background-color: rgb(42, 42, 99);
}
img{
    width: 400px;
    height: 400px;
    border: 20px groove rgb(227, 141, 80);
   border-radius: 20px;
}

p{
    width: 1000px;
    height: 400px;
    display: inline-block;
    overflow:auto;
    margin: 20px;
    text-align: justify;
    color: #cac4c4db;
}
p::first-line{
    background-color: rgb(41, 15, 65);
    color: rgb(205, 115, 5);
}
p::selection{
    background-color: black;
    color: rgb(212, 120, 166);
}

h1::first-letter{
    font-size: 3rem;
}

h1::before{
    content: "🚗";

}

h1::after{
    content: "🚗";
}

h1{
    background-color: deeppink;
    color: rgb(2, 2, 2);
    text-align: center;
}

h2{
    background-color: deeppink;
    color: whitesmoke;
    width: 120px;
}

h3{
    background-color: deeppink;
    color: whitesmoke;
    width: 120px;
}
li::marker{
    content: "🔗";
}
li:hover{
    background-color: rgb(235, 242, 44);
}
p:hover{
    background-color: darkgoldenrod;
    color: rgb(41, 15, 65);

}
a:hover{
    background-color:rgb(205, 192, 80);
    text-decoration: none;
}

a:visited{
        color: rgb(25, 25, 19);
}
a:active{
    background-color:burlywood;
     color: blue;
}
a:link{
    color:white;
}

nav{
    font-size: 1.5rem;
    background-color: cadetblue;
    text-decoration: none;
}
iframe{
    width: 500px;
    height: 500px;
    margin: 30px;
}